# 大课件
*.pptx
*.ppt

# 大 PDF 电子课本
*.pdf

# 其他大文件
*.zip
*.rar
*.7z
*.iso
*.mp4
*.avi
*.mkv
*.mov
*.flv
*.psd
*.ai

# 安装包
*.exe
*.msi

# 系统文件
Thumbs.db
Desktop.ini
.DS_Store

# 缓存/临时
*.tmp
*.log
__pycache__/
node_modules/

